# EditorConfig is awesome: http://EditorConfig.org
root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space

[*.{js,json}]
charset = utf-8
end_of_line = lf

[{package.json,*.js,*.yml,*.json,*.cson,.*}]
indent_style = space
indent_size = 2

[*.html]
indent_style = space
indent_size = 4
